@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
    font-family: 'montserrat';
    font-weight: 400
}

body{
    font-family: 'montserrat';
    font-weight: 500;
    width: 100vw;
    position: relative;
    overflow-x: hidden;
}

body::-webkit-scrollbar {
    width: 2px;               /* width of the entire scrollbar */
  }
  
  body::-webkit-scrollbar-track {
    background: transparent       /* color of the tracking area */
  }
  
  body::-webkit-scrollbar-thumb {
    background-color: black;    /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */
  /* creates padding around scroll thumb */
  }
  

.first-page{
    background-image: url("../images/model-s.png") ;
    background-repeat: no-repeat;
    background-position:center top;
    background-size:cover;
    height: 60vh;
    filter: blur(0px);
}

header{
    opacity: 1;
    display: flex;
    justify-content: space-between;
    height: 6vh;
}

img.logo{
    height: 15px;
    margin-left: 20px;
    margin-top: 20px;
}

.menu-item{
    background-color: #999;
    opacity: 0.5;
    border-radius: 12px;
    margin: 12px;
    padding: 5px 10px;
}


a{
    color: black;
    font-size: 16px;
    letter-spacing: 0;
    font-weight: 700;
}


.widescreen-menu{
    display: none;
}

.mobile-menu{
    position: absolute;
    z-index: 0;
    background-color: white;
    height: 100vh;
    width: 80vw;
    left: 20vw;
    display: none;
    top: 0vh;
    box-shadow: -0.5px 0px 1px black;
    overflow-x: hidden;
    overflow-y: auto;
    /*transition: left 0.5s 0.1s, display 0.1s 0.0s;*/
}

.x-button{
    background-color: white;
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
}

button{
    background-color: white;
    border: none;
    font-size: 20px;
    font-weight: 500;
    margin: 30px;
}

.mobile-menu nav ul li{
    margin-top: 2.4vh;
    margin-left: 10vw;
}

.mobile-menu nav ul li:first-child{
    margin-top: 1vh;
}

.mobile-menu nav ul li:last-child{
    margin-bottom: 55vh;
}

.mobile-menu nav ul li a{
    font-weight: 500;
    font-size: 15px;
}

.hero{
    width: 100vw;
    padding-bottom:2vh;
}

.title{
    text-align: center;
    width: 100vw;
}

.title h1{
    font-size: 32px;
    margin-bottom: 35vh;
    margin-top: 5vh;
}

.title h2{
    color: white;
    font-size: 16px;
    font-weight: 300;
    margin-bottom: 1vh;
}

.arrow{
    color: white;
    height: 40px;
    background-size: contain;
    background-repeat: no-repeat;
    animation: arrow-down 1.5s infinite;
    animation-timing-function: ease-in;
}

@keyframes arrow-down{
    0%{
        padding-top: 0;
    }
    25%{
        padding-top: 12px;
    }
    50%{
        padding-top: 0;
    }
    75%{
        padding-top: 6px;
    }
    100%{
        padding-top: 0px;
    }
}

span{
    text-decoration: underline;
}

.login-page{
    background-image: url('../images/elon-musk-dogecoin.jpg');
    background-repeat: no-repeat;
    background-position: center top;
    background-size:cover;
    height: 50vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 2vh;
    filter: blur(0);
}

.login-card{
    padding: 1vh 2vw;
    text-align: center;
    background-color: #deac55;
    width: fit-content;
    margin-left:  5vw;
    margin-right: 5vw;
    height: fit-content;
    border-radius: 20px;
    filter:opacity(0.93);
    align-self: flex-end;
    margin-bottom: 2vh;
    box-shadow: 2px 2px 2px black;
}

.login-card h1{
    margin-top: 1vh;
    margin-bottom: 2vh;
    color: white;
    font-weight: 400;
}

.login-card h2{
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 2vh;
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

input{
    display: block;
    border: none;
    margin-bottom: 1vh;
    padding: 5px 10px;
    border-radius: 5px;
    outline: 0;
}

input[type='submit']{
    width: fit-content;
    cursor: pointer;
    color: black;
}

input:focus{
    outline: 0;
    box-shadow: 0;
}

footer nav ul{
    display: flex;
    flex-direction: column;
    text-align: center;
}

footer nav ul li{
    margin-bottom: 1.4vh;
}

footer nav ul li a{
    font-size: 13px;
    letter-spacing: 0;
    font-weight: 500;
    flex: 1;
    color: #555;
}

@media only screen and (min-width:500px){

    .new-item-prox, .new-item-no-style{
        display: none;
    }
    .main-nav{
        display: flex;
        flex-direction: row;
    }

    .new-item{
        background-color: #999;
        opacity: 0.5;
        border-radius: 12px;
        margin: 12px 0px 12px 6px;
        padding: 5px 10px;
        height: fit-content;
    }
    .new-item:first-child{
        margin-left: 0;
    }
    .new-item-prox-prox{
        display: none;
    }
    .new-item-prox-prox-prox{
        display: none;
    }
    .new-item-prox-prox-prox-prox{
        display: none;
    }
}

@media only screen and (min-width:550px){

    .new-item-prox{
        display: block;
        background-color: #999;
        opacity: 0.5;
        border-radius: 12px;
        margin: 12px 0px 12px 6px;
        padding: 5px 10px;
        height: fit-content;
    }
    .new-item-prox-prox, .new-item-prox-no-style{
        display: none;
    }
    .new-item-prox-prox-prox{
        display: none;
    }
    .new-item-prox-prox-prox-prox{
        display: none;
    }
}

@media only screen and (min-width:650px){

    .new-item-prox-prox{
        display: block;
        background-color: #999;
        opacity: 0.5;
        border-radius: 12px;
        margin: 12px 0px 12px 6px;
        padding: 5px 10px;
        height: fit-content;
    }
    .new-item-prox-prox-prox, .new-item-prox-prox-no-style{
        display: none;
    }
    .new-item-prox-prox-prox-prox{
        display: none;
    }
}

@media only screen and (min-width:750px){

    .first-page{
        height: 70vh;
    }

    .login-page{
        height: 70vh;
    }

    .title h1{
        margin-bottom: 45vh;
    }

    .new-item-prox-prox-prox{
        display: block;
        background-color: #999;
        opacity: 0.5;
        border-radius: 12px;
        margin: 12px 0px 12px 6px;
        padding: 5px 10px;
        height: fit-content;
    }
    .new-item-prox-prox-prox-prox, .new-item-prox-prox-prox-no-style{
        display: none;
    }
}

@media only screen and (min-width:1000px){

    .new-item-prox-prox-prox-prox-no-style{
        display: none;
    }

    .first-page{
        height: 100vh;
    }

    .title h1{
        margin-bottom: 75vh;
    }

    .login-page{
        height: 100vh;
    }

    .aside-menu ul{
        display: flex;
        margin-right: 12px;
    }

    .new-item-prox-prox-prox{
        display: block;
        background-color: #999;
        opacity: 0.5;
        border-radius: 12px;
        margin: 12px 0px 12px 6px;
        padding: 5px 10px;
        height: fit-content;
    }
    .new-item-prox-prox-prox-prox{
        display: block;
        background-color: #999;
        opacity: 0.5;
        border-radius: 12px;
        margin: 12px 0px 12px 6px;
        padding: 5px 10px;
        height: fit-content;
    }

    .menu-item{
        background-color: #999;
        opacity: 0.5;
        border-radius: 12px;
        margin: 12px 0px 12px 6px;
        padding: 5px 10px;
    }
}
